{% extends 'auth_app/layouts/main.html' %}
{% block title %}
Password Reset
{% endblock title %}
{% block content %}

<div class="mt-5 ms-2">
{% include 'auth_app/includes/message.html' %}
</div>
<!-- <h1 class="ms-3" style="margin-top:60px;margin-bottom:450px;color:rgb(206, 223, 241)">Welcome User</h1> -->
<div style="display: flex; align-items: center;justify-content: center;color:rgb(196, 214, 233); height:82.5vh;margin: 0;">
    <div><h1 style="text-align: center;">Kindly Check Your Email for Changing Password</h1></div>
</div>


{% block scripts %}
{% endblock scripts %}
{% endblock %}