{% extends 'auth_app/layouts/main.html' %}
{% block title %}
Reset Password | USER MANAGEMENT
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 13.2%; margin-bottom: 10px; min-height: 410px;">
    <div class="row justify-content-center">
        <div class="col-6 col-md-5">
            <div style="border: 2px solid #007bff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 20px; padding: 20px; background-color: rgba(0,0,0,0.5);">
                <h4 class="mb-3 text-center text-light" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 44px;">Reset Password</h4>
                {% include 'auth_app/includes/message.html' %}
                <form method="post" style="max-width: 340px; min-height: 200px; margin: 0 auto;" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="" class="form-label text-light">Enter Your Email</label>
                        <input type="email" name="email" class="form-control mt-2" placeholder="Enter your email address">
                        {% if form.errors.email %}
                            <label class="text-danger d-block">{{ form.errors.email }}</label>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 mb-2" style="width: 50%;">Send Reset Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
