    {% extends 'auth_app/layouts/main.html' %}
    {% block title %}
    Change Password | USER MANAGEMENT
    {% endblock title %}
    {% block content %}
    <div class="container" style="margin-top: 140px; margin-bottom: 10px; min-height: 430px;">
        <div class="row justify-content-center">
            <div class="col-6 col-md-5">
                <div style="border: 2px solid #007bff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 20px; padding: 20px; background-color: rgba(0,0,0,0.5);">
                    <h4 class="mb-3 text-center text-light" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 44px;">Change Password</h4>
                    {% include 'auth_app/includes/message.html' %}
                    <form method="post" action="{% url 'password_change' %}" style="max-width: 340px; min-height: 250px; margin: 0 auto;" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="" class="form-label text-light">Old Password</label>
                            <input type="password" name="old_password" class="form-control" placeholder="Enter Old Password">
                        {% if form.errors.old_password %}
                            <label class="text-danger d-block">{{ form.errors.old_password }}</label>
                        {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label text-light">New Password</label>
                            <input type="password" name="new_password1" class="form-control" placeholder="Enter New Password">
                        {% if form.errors.new_password1 %}
                            <label class="text-danger d-block">{{ form.errors.new_password1 }}</label>
                        {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label text-light">Confirm New Password</label>
                            <input type="password" name="new_password2" class="form-control" placeholder="Confirm New Password">
                        {% if form.errors.new_password2 %}
                            <label class="text-danger d-block">{{ form.errors.new_password2 }}</label>
                        {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 mb-2" style="width: 100%;">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
